.MainChat__Event
  .Event__Index
    %p イベント情報
    =link_to "#", class: "create" do
      イベント作成
  .Event__Line
    .Event__Box
      .Event--Info
        ラオス 最終報告会
      .Event--Date
        2020年6月19日(金)
      .Event--Time
        15:00 ~ 16:00
      .Image
    .Event__Box
      .Event--Info
        ラオス ZOOM飲み会
      .Event--Date
        2020年6月19日(金)
      .Event--Time
        19:00 ~ 21:00
      .Image
    .Event__Box
      .Event--Info
        ラオス OV交流会
      .Event--Date
        2020年6月20日(土)
      .Event--Time
        12:00 ~ 16:00
      .Image
        

